/* General */
body {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* Header */
.header {
  display: flex;
}

/* Products */
#every-beer {
  width: 400px;
}

.beer {
  width: 200px;
}

/* Review */

/* Newsletter */

/* Footer */
